################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webapp/newapp/newapp1/newapp1/newapp1.csproj
